body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1673px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1673px;
  height:1000px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1673px;
  height:1000px;
}
#u1 {
  position:absolute;
  left:2px;
  top:492px;
  width:1669px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:197px;
  top:138px;
  width:1280px;
  height:719px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:719px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1280px;
  height:720px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u4 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1060px;
  top:120px;
  width:130px;
  height:130px;
  font-size:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u6 {
  position:absolute;
  left:2px;
  top:54px;
  width:126px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1060px;
  top:260px;
  width:130px;
  height:130px;
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u8 {
  position:absolute;
  left:2px;
  top:54px;
  width:126px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1060px;
  top:404px;
  width:130px;
  height:126px;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:126px;
}
#u10 {
  position:absolute;
  left:2px;
  top:52px;
  width:126px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1160px;
  top:15px;
  width:100px;
  height:55px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:985px;
  top:155px;
  width:90px;
  height:60px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:985px;
  top:295px;
  width:90px;
  height:60px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:985px;
  top:437px;
  width:90px;
  height:60px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:496px;
  top:170px;
  width:290px;
  height:350px;
  overflow:hidden;
  visibility:hidden;
}
#u18_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:350px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:350px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:350px;
}
#u20 {
  position:absolute;
  left:2px;
  top:167px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:112px;
  top:14px;
  width:65px;
  height:37px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:94px;
  top:85px;
  width:100px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u24 {
  position:absolute;
  left:94px;
  top:130px;
  width:100px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u25 {
  position:absolute;
  left:94px;
  top:170px;
  width:100px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26 {
  position:absolute;
  left:94px;
  top:215px;
  width:100px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u27 {
  position:absolute;
  left:496px;
  top:154px;
  width:290px;
  height:70px;
  overflow:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:70px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:35px;
  top:21px;
  width:195px;
  height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:35px;
  top:21px;
  width:147px;
  height:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:28px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:35px;
  top:21px;
  width:147px;
  height:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:108px;
  top:21px;
  width:49px;
  height:28px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:454px;
  top:240px;
  width:374px;
  height:440px;
  overflow:hidden;
  visibility:hidden;
}
#u36_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:440px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u36_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:140px;
  top:20px;
  width:50px;
  height:50px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u38 {
  position:absolute;
  left:170px;
  top:130px;
  width:50px;
  height:50px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u39 {
  position:absolute;
  left:200px;
  top:70px;
  width:50px;
  height:50px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u40 {
  position:absolute;
  left:100px;
  top:130px;
  width:50px;
  height:50px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u41 {
  position:absolute;
  left:80px;
  top:70px;
  width:50px;
  height:50px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u42 {
  position:absolute;
  left:25px;
  top:360px;
  width:315px;
  height:60px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:454px;
  top:290px;
  width:374px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u44_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u44_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:200px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:200px;
}
#u46 {
  position:absolute;
  left:2px;
  top:92px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:23px;
  top:20px;
  width:70px;
  height:150px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:150px;
}
#u48 {
  position:absolute;
  left:2px;
  top:67px;
  width:66px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:103px;
  top:20px;
  width:70px;
  height:150px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:150px;
}
#u50 {
  position:absolute;
  left:2px;
  top:67px;
  width:66px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:183px;
  top:20px;
  width:70px;
  height:150px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:150px;
}
#u52 {
  position:absolute;
  left:2px;
  top:67px;
  width:66px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:263px;
  top:20px;
  width:70px;
  height:150px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:150px;
}
#u54 {
  position:absolute;
  left:2px;
  top:67px;
  width:66px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:359px;
  top:144px;
  width:564px;
  height:480px;
  overflow:hidden;
  visibility:hidden;
}
#u55_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:480px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u55_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:480px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:480px;
}
#u57 {
  position:absolute;
  left:2px;
  top:232px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:250px;
  top:32px;
  width:65px;
  height:37px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:182px;
  top:228px;
  width:200px;
  height:50px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u61 {
  position:absolute;
  left:178px;
  top:148px;
  width:200px;
  height:50px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u62 {
  position:absolute;
  left:178px;
  top:148px;
  width:200px;
  height:50px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
